:root {
    /* Font sizes */
    --font-size-regular: 15px;
    --font-size-small: 13px;

    /* Primary Palette */
    --color-text-dark: #212121;
    --color-text-light: #EEEEEE;

    /* Table */
    --color-outline: #787878;
    
    /* Header */
    --color-header-bg: #555555;
    --color-header-text: var(--color-text-light);

    /* CMS version row */
    --color-cms-version-bg: #666666;
    --color-cms-version-text: var(--color-text-light);

    /* Status colors */
    --color-status-unsupported-bg: #CD0F69;
    --color-status-unsupported-text: var(--color-text-light);

    --color-status-partial-bg: #FFCD00;
    --color-status-partial-text: var(--color-text-dark);

    --color-status-full-bg: #3CDBC0;
    --color-status-full-text: var(--color-text-dark);

    --color-status-pre-bg: #055BE0;
    --color-status-pre-text: var(--color-text-light);

    --color-status-dev-bg: #033594;
    --color-status-dev-text: var(--color-text-light);

    --color-status-planned-bg: #B0BEC5;
    --color-status-planned-text: var(--color-text-dark);

    --color-status-invalid-bg: red;
    --color-status-invalid-text: var(--color-text-light);

    --color-status-unknown-bg: purple;
    --color-status-unknown-text: var(--color-text-light);
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 1rem;
    margin: 0;
    background-color: #f9f9f9;
}
.container-wrapper {
    padding: 2rem;
    border-radius: 0.5rem;
    max-width: 56rem;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
}
.main-heading {
    font-size: 2.25rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    text-align: left;
}

.policy-table {
    width: 100%;
    max-width: 750px;
    border-collapse: collapse;
    text-align: left;
}
.policy-table th,
.policy-table td {
    border: 1px solid var(--color-outline);
    padding: 0.75rem 1rem;
    font-size: var(--font-size-regular);
}
.policy-table thead tr {
    background-color: var(--color-header-bg);
    color: var(--color-header-text);
}
.cms-version {
    background-color: var(--color-cms-version-bg);
    color: var(--color-cms-version-text);
    font-weight: bold;
}
.status {
    white-space: nowrap;
}
.status-full td {
    background-color: var(--color-status-full-bg);
    color: var(--color-status-full-text);
}
.status-partial td {
    background-color: var(--color-status-partial-bg);
    color: var(--color-status-partial-text);
}
.status-unsupported td {
    background-color: var(--color-status-unsupported-bg);
    color: var(--color-status-unsupported-text);
}
.status-pre td {
    background-color: var(--color-status-pre-bg);
    color: var(--color-status-pre-text);
}
.status-dev td {
    background-color: var(--color-status-dev-bg);
    color: var(--color-status-dev-text);
}
.status-planned td {
    background-color: var(--color-status-planned-bg);
    color: var(--color-status-planned-text);
}
.status-invalid td {
    background-color: var(--color-status-invalid-bg);
    color: var(--color-status-invalid-text);
}
.status-unknown td {
    background-color: var(--color-status-unknown-bg);
    color: var(--color-status-unknown-text);
}
.notes-section {
    margin-top: 2rem;
    text-align: left;
    font-size: var(--font-size-small);
}
